<%= turbo_frame_tag "flash" do %>
  <div data-controller="flash" data-action="keyup@document->modal#handleKeyup">
    <!-- Clicking outside the modal will cause it to close -->
    <div class="modal-background" data-action="click->modal#close"></div>

    <div class="modal-styles-and-stuff">
      <button data-action="modal#close">X</button>

      <%= turbo_frame_tag "modal-body" do %>
        <%= yield %>
      <% end %>
    </div>
  </div>
<% end %>
