<%= render "shared/modal" do %>
  <br>
  <h1 id="modal-header">What is Village?</h1>
  <br>
  <p><i>Village</i> shows each visitor a set of six stories each day. Every person that comes to the site will see the same stories.</p>
  <br>
  <p>No personalisation.</p>
  <p>No algorithm.</p>
  <br>
  <p>The idea is to create more 'watercooler moments' around high quality content in an age where we are all more remote.</p>
<% end %>
