<% @todays_posts.each do | post | %>

  <%= link_to post.url, target: :_blank do %>
  <h3> <%= post.headline %> </h3>
    <% if post.image_url != "" %>
      <%= image_tag post.image_url %>
    <% end %>

    <% if @todays_posts[-1].headline != post.headline %>
      <br>
      <hr>
      <br>
    <% end %>

  <% end %>

<% end %>
