.post-image {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
 }

.post {
  margin: auto;
  max-width: 70%;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  min-height: 50vh;
  -webkit-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.7);
  box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .post h2 {
   padding: 10px;
 }

#post-0 {
  border: 10px solid #b0d0d3 ;
}

#post-1 {
  border: 10px solid #ffcad4;
}

#post-2 {
  border: 10px solid #d0f4De;
}

#post-3 {
  border: 10px solid #ff99C8;
}

#post-4 {
  border: 10px solid #a9def9;
}

#post-5 {
  border: 10px solid #eec643;
}

#post-6 {
  border: 10px solid #d0f4De;
}

.pallette {
  background-color: #eec643;
  background-color: #232020;
  background-color: #c44900;
  background-color: #b0d0d3;
}
